<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/mystyle.css"/>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
<div th:replace="commons/select_input::select_input_divs"></div>

<div class="container">
    <h1 class="invalid_city_country" th:if="${aqi == null}">No air quality data for city/country: <span> [[${city}]] </span></h1>
    <h1 id="city_name" th:if="${aqi != null}" th:text="${aqi.getCity().getName()}"></h1>
    <h1 id="city_geo" th:if="${aqi != null}" th:text="${aqi.getCity().getGeo()}"></h1>
</div>

<table class="table container table-bordered iaqis-tbl" th:if="${aqi!=null}">
    <thead>
        <tr>
            <th th:each="iaqi:${aqi.getIaqis()}" th:text="${iaqi.key}" class="table-secondary"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:each="iaqi:${aqi.getIaqis()}" th:text="${iaqi.value}"></td>
        </tr>
    </tbody>
</table>

<br/>

<div class="container" th:if="${aqi != null}">
    <h2>Forecasts</h2>
</div>

<div  class="container" th:if="${aqi != null}" th:each="map:${aqi?.getForecasts()}">
    <h3 th:text="${map.key}"></h3>
    <table class="table container-md table-bordered forecast-tbl">
        <thead>
            <tr>
                <th class="table-secondary">Time</th>
                <th class="table-secondary">Max</th>
                <th class="table-secondary">Min</th>
                <th class="table-secondary">Avg</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="forecast:${map.value}">
                <td th:text="${forecast.time}"></td>
                <td th:text="${forecast.max}"></td>
                <td th:text="${forecast.min}"></td>
                <td th:text="${forecast.avg}"></td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    var byCity = "City or Country. Ex: Portugal"
    var byGeo = "Geo coordinates. Ex: 32.65, -16.92"
    $(".select_box").change(function (){
        if ($(".select_box").val() === '1'){
            $('input').attr('placeholder', byCity)
        }else {
            $('input').attr('placeholder', byGeo)
        }
    })

    $("form").submit(function() {
        var v = $('.input').val();
        if (v === '' || v == null || v.trim() === ''){
            $('.input').attr('disabled', 'disabled')
            return true
        }
        if ($(".select_box").val() === '1'){
            $("form").attr("action", '/air_quality/location/' + v);
        }else{
            var coords = v.split(',');
            if (coords.length === 1){
                $("form").attr("action", '/air_quality/geo/' + coords + ':none');
            }else{
                $("form").attr("action", '/air_quality/geo/' + coords[0].trim() + ':' + coords[1].trim());
            }
        }
    });
</script>
</body>
</html>